@charset "utf-8";
/* CSS Document */

.logo-home {
	background: url(../images/logo-company.png) no-repeat !important;
	position: relative;
	z-index: 88;
	padding: 15px 0px 15px 0px;



}
.topbar, .frame li div.cinfo, button:hover, #header-login, button:hover, input[type="submit"]:hover, .btn, .pro-box .price, 
.footer-midbg, .reservation button, .staff-wrapp, .about .nav-tabs > li, .percentage, .p404 .buttons, .service-grid span:hover, 
.services .panel-default > .panel-heading, .blog .date, .addtocart, .addtocart:after, .price, button.buyit, .cart_btn_wrapper button, 
.woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, 
.woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, 
.woocommerce-page #content input.button, .signup input[type="submit"], .about .nav-tabs > li a {
	background: #5B6984 !important;
}

.footer-midbg {
	background: #384764 !important;
}

.text, .hsearch, .home-menu .navbar-default .navbar-nav > li > a:hover, .home-menu .navbar-default 
.navbar-nav > li > a:hover, .home-menu .navbar-nav li:hover > a, h2.main-title, .pro-title h2, .hicon strong, 
.pro-box .rating a, .blog-home ul.flinks li a:hover, .sticky .home-menu .navbar-default .navbar-nav > li > a, 
.hservice h4 a:hover, .bp-data h4 a:hover, .inner .navbar-nav > li > a, .about-prograss h2, .pro-box h4 a:hover, 
.team h3 a:hover, .team-2 h3 a:hover, .team-box h3 a:hover, .team-box-02 h3 a:hover, .partner-logos 
.bx-wrapper a.bx-prev:hover:after, .partner-logos .bx-wrapper a.bx-next:hover:after, .about-2 h2, .p404 h1, 
.p404 h2, .service-grid span, .stitle, .stitle2 , .stitle, .blog .like i, ul.check-login li:before, ul.check-login li a, 
.checkbox > a, a:hover, a:focus, .bx-pager-link, .circle-info, .circliful, .register h2, .disc-price, .pro-title h2, h2.main-title, .pro-title h2 {
	color: #6D8AC0 !important;
}

.addtocart:before {border-top-color:#58b1c3 !important}
button.buyit:after {border-left-color:#58b1c3 !important}

.inner .navbar-nav > li > a {border-color:transparent !important}

#search, .sidebar .search button {
	background: #8D97A9 !important;
	color: #58b1c3 !important;
}

.border, button:hover, input[type="submit"]:hover, .btn, .nav > li > a:hover, .nav > li > a:focus, 
.navbar-nav > li > .dropdown-menu, .navbar-nav > li > a, .about .tab-pane, .p404 .buttons, .service-grid span, 
.services .panel-default, .sidebar .search, .cart_btn_wrapper button, .signup input[type="submit"], .nav > li > a:hover, .nav > li > a:focus {
	border-color: #D7D9DD !important
}

.create-account {
	box-shadow: 0 -3px 0 #4c9fab inset !important;
	background: #4c9fab !important
}

#paralax {
	background: url(../images/paralax-blue.jpg) !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.quote-bg {background:url(../images/quote-bbg.png) #4294a4 !important;
    -moz-box-shadow:inset 2px -1px 6px rgba(0,0,0,.10);
    -webkit-box-shadow:inset 2px -1px 6px rgba(0,0,0,.10);
    box-shadow:inset 2px -1px 6px rgba(0,0,0,.10);
}

.nav > li > a:hover:before, .nav > li > a:focus:before {
	border-bottom: 3px solid #6D6D6D !important;
}
.home-menu .navbar-default .navbar-nav > .dropdown > a:hover .caret, .sticky .home-menu .navbar-default .navbar-nav > .dropdown > a .caret, 

.navbar-default .navbar-nav > .dropdown > a .caret {
	border-bottom-color: #58b1c3 !important;
	border-top-color: #58B1C3 !important;
}

.ftop, .footer-copy, .scrollbar .handle, .frame li div.cinfo, .services h4.panel-title a:before {
	background: #1F2738 !important;
	border-color: #5E6A6D !important;
}

.footer-copy, .footer-copy a {
	color: #DCDCDC !important
}

.footer-mid {
	background: #303849 !important;
}
#footer h3, ul.recent-posts li {
	border-color: #798294 !important
}
.social a, .staff-wrapp h2.main-title, .staff-wrapp .sub-title, .staff-wrapp .controls .btn.next:hover, .staff-wrapp .controls .btn.prev:hover, .team-social a, #paralax button:hover, .service-grid span:hover {
	color: #FFF !important
}
.hsearch {
	background: #FFF !important
}

/* CSS Footer */
.ftop {
	background: #384764;
}
.footer-mid {
 
}
 
.footer-midbg {
	background: #303849 !important;
}

.footer-copy {
	background: #1E2533;
}
/* CSS Footer End */


.social a {
	color: #FA9DAC
}
.social a:hover {
	color: #FFBFC9
}

.progress > span { background:url("../images/prograss-pattren.png") repeat scroll 0 0 #58b1c3 !important;
}
.progress {background:#89D6DE  !important}
.percentage {box-shadow:-2px 1px 2px #4294a4 inset !important;}


.client-review-bg {background: url("../images/testimonial-bg.png") repeat scroll center top #58b1c3 !important;}

.register .btn.dropdown-toggle.selectpicker.btn-default, .register .btn-group.bootstrap-select {background:#fff !important; border-color:#CCCCCC !important;}
